body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
  padding-left:20%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.tile-viewport{
  height: 300px !important;
  width: 300px !important;
}

.dataPop {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: white;
}

.dataPopInner {
  left: 24%;
  right: 24%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  overflow-y:scroll;
}

.popTable{
  width: 90%;
  margin: auto;
  text-align: center;
}

#insight {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#insight td, #insight th {
  border: 1px solid #ddd;
  padding: 8px;
}

#insight tr:nth-child(even){background-color: #f2f2f2;}

#insight tr:hover {background-color: #ddd;}

#insight th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.button {
  border-radius: 8px;
  background-color: transparent;
}

.w3-container{padding:0.01em 70px}
.w3-panel{padding:0.01em 10px;margin-top:16px;margin-bottom:16px; display: -webkit-inline-box}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); width: 100px; }

.pullbottom{
  position: absolute; height: 10px; bottom: 30px; right: 0;  left: 0;
}

.pulltop{
  position: absolute; height: 150px; top: 150px; right: 0;  left: 0;
}

.pullmid{
  position: relative; height: 20px; top: 80px; right: 0;  left: 0;
}

.avatar {
  border-radius: 100%;
  position: relative; height: 120px; top: 20px; right: 0;  left: 40px;
}

.link {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  border-bottom:1px solid #444;
  cursor: pointer;
}

.login{
  width: 40%;
  margin: auto;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.notify {
  width: 30%;
  text-align: center;
  padding-right: 50px;
  float: right;
  display: inline;
}

.divcenter {
  height: 200px;
  width: 400px;
  align: "center";
  position: fixed;
  top: 40%;
  left: 55%;
  margin-top: -100px;
  margin-left: -200px;
}